<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/home.css" />
  </head>
  <body>
    <!-- Navigation included from the includes directory -->
    <%- include('./includes/navigation.ejs') %>
    <!----------------------------------------------------->
    <hr />
    <div class="container">
      <h1><%= title %></h1>
      <hr />
      <div class="content">
        <div class="trainer-container">
          <h2>Select one of our trainers</h2>
          <div class="trainers">
            <% trainers.forEach(function(trainer) { %>
            <div class="trainer">
              <h4><%= trainer.name %></h4>
              <p><%= trainer.username %></p>
              <p><%= trainer.email %></p>
              <a href="/trainer/<%= trainer.id %>">
                <button type="submit">Get More Info</button>
              </a>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="training-package-container">
          <h2>Our Training Packages</h2>
          <div class="training-packages">
            <% trainingPackages.forEach(function(trainingPackage) { %>
            <div class="training-package">
              <h4><%= trainingPackage.type %></h4>
              <p><%= trainingPackage.pricePerHour %></p>
              <p><%= trainingPackage.description %></p>
              <a href="training-package/<%= trainingPackage.id %>">
                <button type="submit">Get More Info</button>
              </a>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- Navigation included from the includes directory -->
    <%- include('./includes/footer.ejs') %>
    <!----------------------------------------------------->
  </body>
</html>
